header{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}
.menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}
.menu-item{
    margin: 0 10px;
    text-transform: uppercase;
}
.menu-item a{
    text-decoration: none;
    color: white;
}
.menu-item chat{
    background-color: antiquewhite;
    padding: 5px 15px;
    border-radius: 25px;
}
.banner{
    
    background-size: cover;
    height: 100vh;
}